:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}
#everbrandintro{
    /* background-image: url(/Images/coverphoto.jpg); */
    background-color:rgb(246, 248, 234);;
    
    background-size: 1400px 500px;
    /* opacity: 0.55; */
    background-repeat: no-repeat;
    background-position: center center;  
 margin-top: -20px;
}
#introsec h1{
  color:rgb(35, 33, 33);
  font-weight: bolder;
}
#introsec p{
  color: rgb(25, 24, 24);
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}
.castbox
{
  background-color: #929f9f;
  margin: 10px;
  border-radius: 10px;
  height: 210px;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  color: rgb(49, 27, 27);
}
.feature {
  transition: transform 0.3s ease-in-out;
}

.feature:hover {
  transform: scale(1.05);
}



li{
  list-style-type: none;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 71rem;
  justify-content: center;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


